<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BPMDB" connectionString="Data Source=(local);Initial Catalog=BPMDB;Integrated Security=False;User ID=sa;Password=Abc123#" providerName="System.Data.SqlClient" />
    <add name="BPMDB1" connectionString="Data Source=BPMDEVELOP;Initial Catalog=BPMDB;Integrated Security=False;User ID=sa;Password=Abc123#" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--没有登录在权限不足的情况下无法将文件写入到指定共享目录内-->
    <add key="NisMail_UserName" value="Mason" />
    <add key="NisMail_PWD" value="rpxtunqn" />
    <!--DCGZ个人经费文件生成信息-->
    <add key="DCGZ_Path_P" value="F:\YZDocument\项目\大金\FlowPortal\doc\SAPLinks\SAPLinks\bin\Debug" />
    <add key="DCGZ_Name_P" value="GS1080" />
    <add key="DCGZ_Ext_P" value=".TSV" />
    <!--DCBJ个人经费文件生成信息-->
    <add key="DCBJ_Path_P" value="F:\YZDocument\项目\大金\FlowPortal\doc\SAPLinks\SAPLinks\bin\Debug" />
    <add key="DCBJ_Name_P" value="GS1080" />
    <add key="DCBJ_Ext_P" value=".TSV" />
    <!--DCT个人经费文件生成信息-->
    <add key="DCT_Path_P" value="F:\YZDocument\项目\大金\FlowPortal\doc\SAPLinks\SAPLinks\bin\Debug" />
    <add key="DCT_Name_P" value="DRC" />
    <add key="DCT_Ext_P" value=".TSV" />
    <!--DFS个人经费文件生成信息-->
    <add key="DFS_Path_P" value="F:\YZDocument\项目\大金\FlowPortal\doc\SAPLinks\SAPLinks\bin\Debug" />
    <add key="DFS_Name_P" value="DRC" />
    <add key="DFS_Ext_P" value=".TSV" />
    <!--DICS个人经费文件生成信息-->
    <add key="DICS_Path_P" value="F:\YZDocument\项目\大金\FlowPortal\doc\SAPLinks\SAPLinks\bin\Debug" />
    <add key="DICS_Name_P" value="DRC" />
    <add key="DICS_Ext_P" value=".TSV" />
    <!--DICG个人经费文件生成信息-->
    <add key="DICG_Path_P" value="F:\YZDocument\项目\大金\FlowPortal\doc\SAPLinks\SAPLinks\bin\Debug" />
    <add key="DICG_Name_P" value="DRC" />
    <add key="DICG_Ext_P" value=".TSV" />
    <!--DICN个人经费文件生成信息-->
    <add key="DICN_Path_P" value="F:\YZDocument\项目\大金\FlowPortal\doc\SAPLinks\SAPLinks\bin\Debug" />
    <add key="DICN_Name_P" value="DRC" />
    <add key="DICN_Ext_P" value=".TSV" />
    <!--DCSH个人经费文件生成信息-->
    <add key="DCSH_Path_P" value="F:\YZDocument\项目\大金\FlowPortal\doc\SAPLinks\SAPLinks\bin\Debug" />
    <add key="DCSH_Name_P" value="DCSH" />
    <add key="DCSH_Ext_P" value=".TSV" />
    <!--DICB公司经费文件生成信息-->
    <add key="DICB_Path_C" value="F:\YZDocument\项目\大金\FlowPortal\doc\SAPLinks\SAPLinks\bin\Debug" />
    <add key="DICB_Name_C" value="GS1010" />
    <add key="DICB_Ext_C" value=".TSV" />
    <!--DICS公司经费文件生成信息-->
    <add key="DICS_Path_C" value="F:\YZDocument\项目\大金\FlowPortal\doc\SAPLinks\SAPLinks\bin\Debug" />
    <add key="DICS_Name_C" value="GS1020" />
    <add key="DICS_Ext_C" value=".TSV" />
    <!--DICG公司经费文件生成信息-->
    <add key="DICG_Path_C" value="F:\YZDocument\项目\大金\FlowPortal\doc\SAPLinks\SAPLinks\bin\Debug" />
    <add key="DICG_Name_C" value="GS1030" />
    <add key="DICG_Ext_C" value=".TSV" />
    <!--DICW公司经费文件生成信息-->
    <add key="DICW_Path_C" value="F:\YZDocument\项目\大金\FlowPortal\doc\SAPLinks\SAPLinks\bin\Debug" />
    <add key="DICW_Name_C" value="GS1040" />
    <add key="DICW_Ext_C" value=".TSV" />
    <!--DSC文公司经费件生成信息-->
    <add key="DSC_Path_C" value="F:\YZDocument\项目\大金\FlowPortal\doc\SAPLinks\SAPLinks\bin\Debug" />
    <add key="DSC_Name_C" value="GS4000" />
    <add key="DSC_Ext_C" value=".TSV" />
    <!--DSCS文公司经费件生成信息-->
    <add key="DSCS_Path_C" value="F:\YZDocument\项目\大金\FlowPortal\doc\SAPLinks\SAPLinks\bin\Debug" />
    <add key="DSCS_Name_C" value="GS4020" />
    <add key="DSCS_Ext_C" value=".TSV" />
    <!--DSCB文公司经费件生成信息-->
    <add key="DSCB_Path_C" value="F:\YZDocument\项目\大金\FlowPortal\doc\SAPLinks\SAPLinks\bin\Debug" />
    <add key="DSCB_Name_C" value="GS4010" />
    <add key="DSCB_Ext_C" value=".TSV" />
    <!--DSCG文公司经费件生成信息-->
    <add key="DSCG_Path_C" value="F:\YZDocument\项目\大金\FlowPortal\doc\SAPLinks\SAPLinks\bin\Debug" />
    <add key="DSCG_Name_C" value="GS4030" />
    <add key="DSCG_Ext_C" value=".TSV" />
    <!--DICN公司经费文件生成信息-->
    <add key="DICN_Path_C" value="F:\YZDocument\项目\大金\FlowPortal\doc\SAPLinks\SAPLinks\bin\Debug" />
    <add key="DICN_Name_C" value="GS1050" />
    <add key="DICN_Ext_C" value=".TSV" />
    <!--DSC售后业务-->
    <add key="DSC_Path_ASB" value="F:\YZDocument\项目\大金\FlowPortal\doc\SAPLinks\SAPLinks\bin\Debug" />
    <add key="DSC_KPSQ_Salse_Prefix" value="SALES" />
    <add key="DSC_KPSQ_Purchase_Prefix" value="PUR" />
    <add key="DSC_FKTZSYC_Prefix" value="PAYMENT" />
    <add key="DSC_Ext_ASB" value=".TSV" />
    <!--DSC_B售后业务-->
    <add key="DSC_B_Path_ASB" value="F:\YZDocument\项目\大金\FlowPortal\doc\SAPLinks\SAPLinks\bin\Debug" />
    <add key="DSC_B_KPSQ_Salse_Prefix" value="SALES" />
    <add key="DSC_B_KPSQ_Purchase_Prefix" value="PUR" />
    <add key="DSC_B_FKTZSYC_Prefix" value="PAYMENT" />
    <add key="DSC_B_Ext_ASB" value=".TSV" />
    <!--DSCS售后业务-->
    <add key="DSCS_Path_ASB" value="F:\YZDocument\项目\大金\FlowPortal\doc\SAPLinks\SAPLinks\bin\Debug" />
    <add key="DSCS_KPSQ_Salse_Prefix" value="SALES" />
    <add key="DSCS_KPSQ_Purchase_Prefix" value="PUR" />
    <add key="DSCS_FKTZSYC_Prefix" value="PAYMENT" />
    <add key="DSCS_Ext_ASB" value=".TSV" />
    <!--供应商文件路径-->
    <add key="MAIN_SUPPLIER" value="F:\VDR.TSV" />
    <add key="MAIN_SUPPLIER_Filter" value="'DICA','DICB','DICG','DICN','DICS','DICW','DSC','DTSS','DSCS','DSCB','DSCG','DSCW'" />
    <add key="MAIN_SUPPLIER1" value="E:\VDR.TSV" />
    <add key="MAIN_SUPPLIER_Filter1" value="'DCGZ','DCSH'" />
    <!--成本中心文件路径-->
    <add key="MAIN_COSTCENTER" value="F:\CCD.TSV" />
    <add key="MAIN_COSTCENTER_Filter" value="'DICA','DICB','DICG','DICN','DICS','DICW','DSC','DTSS','DSCS','DSCB','DSCG','DSCW'" />
    <add key="MAIN_COSTCENTER1" value="E:\CCD.TSV" />
    <add key="MAIN_COSTCENTER_Filter1" value="'DCGZ','DCSH'" />
    <!--客户行文件路径-->
    <add key="MAIN_CUSTOMER" value="F:\YZDocument\项目\大金\FlowPortal\doc\SAPLinks\SAPLinks\bin\Debug\DABAN_CUS.TSV" />
    <add key="MAIN_CUSTOMER_Filter" value="'DICA','DICB','DICG','DICN','DICS','DICW','DSC','DTSS','DSCS','DSCB','DSCG'" />
    <add key="MAIN_CUSTOMER1" value="E:\CCD.TSV" />
    <add key="MAIN_CUSTOMER_Filter1" value="'DCGZ','DCSH'" />
    <!--凭证文件路径-->
    <add key="MAIN_SAP_FIN_ACCVOUCH1" value="E:\ACCVOUCH.TSV" />

    <!--EDI文件路径-->
    <add key="MAIN_EDI" value="F:\EDI\" />
    <!--开票回传路径-->
    <add key="KPSQPInvoiceQueue" value="F:\"/>
    <add key="KPSQPInvoiceSuccess" value="F:\Success\"/>
    <add key="KPSQPInvoiceFaild" value="F:\Faild\"/>
    <!--多经销商折扣折让回传路径-->
    <add key="MACHPInvoiceQueue" value="D:\SourceCode\Files"/>
    <add key="MACHPInvoiceSuccess" value="D:\SourceCode\Files\Success\"/>
    <add key="MACHPInvoiceFaild" value="D:\SourceCode\Files\Faild\"/>
    <!--多经销商折扣折让回传单据状态-->
    <add key="MACHPTYPEInvoiceQueue" value="D:\SourceCode\Files"/>
    <add key="MACHPTYPEInvoiceSuccess" value="D:\SourceCode\Files\Success\"/>
    <add key="MACHPTYPEInvoiceFaild" value="D:\SourceCode\Files\Faild\"/>
    <!--多经销商折扣折让回传单据状态-->
    <add key="SAPPAYHPInvoiceQueue" value="D:\SourceCode\Files"/>
    <add key="SAPPAYHPInvoiceSuccess" value="D:\SourceCode\Files\Success\"/>
    <add key="SAPPAYHPInvoiceFaild" value="D:\SourceCode\Files\Faild\"/>
    <!--SAP凭证回传文件夹路径-->
    <add key="SAPToBPMResultQueue" value="F:\" />
    <add key="SAPToBPMResultSuccess" value="F:\Success\" />
    <add key="SAPToBPMResultFaild" value="F:\Faild\" />
    <add key="SAPToBPMResultQueue1" value="E:\" />
    <add key="SAPToBPMResultSuccess1" value="E:\Success\" />
    <add key="SAPToBPMResultFaild1" value="E:\Faild\" />
    <!--收入、采购文件解析-->
    <add key="SAPPurchaseQueue" value="F:\" />
    <add key="SAPPurchaseSuccess" value="F:\Success\" />
    <add key="SAPPurchaseFaild" value="F:\Faild\" />
    <add key="SAPIncomeQueue" value="F:\" />
    <add key="SAPIncomeSuccess" value="F:\Success\" />
    <add key="SAPIncomeFaild" value="F:\Faild\" />
    <!--SECTION文件解析-->
    <add key="SECTIONQueue" value="F:\" />
    <add key="SECTIONSuccess" value="F:\Success\" />
    <add key="SECTIONFaild" value="F:\Faild\" />
    <!--邮件通知配置-->
    <add key="MailAdress" value="liu.zhenliang@daikin.co.jp" />
    <add key="ProviderName" value="mail" />
    <!--DICS公司职工机&开票生成信息-->
    <add key="DICS_Path_Rec" value="D:\" />
    <add key="DICS_Name_Rec" value="ZGJ" />
    <add key="DICS_Name_XSTM" value="XSTM" />
    <add key="DICS_Ext_Rec" value=".TSV" />
 
    <!--DCT个人经费文件生成信息-->
    <add key="DICS_Path_KFSQ" value="F:\YZDocument\项目\大金\FlowPortal\doc\SAPLinks\SAPLinks\bin\Debug" />
    <add key="DICS_Name_KFSQ" value="KFSQ" />
    <add key="DICS_Ext_KFSQ" value=".TSV" />

    <!--DICS_SSO登陆权限-->
    <add key="DICS_Path_SSO" value="H:\CSV"/>
    <add key="DICS_Name_SSO" value="DICS_SSO"/>
    <add key="DICS_Ext_SSO" value=".CSV"/>
    
    
    <!--八爪鱼汇率-->
    <add key="ForeignExchangeQueue" value="F:\" />
    <add key="ForeignExchangeSuccess" value="F:\Success\" />
    <add key="ForeignExchangeFaild" value="F:\Faild\" />
    <!--SAP联携错误通知-->
    <add key="SAPLinks_MailAdress" value="liu.zhenliang@daikin.co.jp" />
    <add key="SAPLinks_MailAdress_1000" value="liu.zhenliang@daikin.co.jp" />
    <add key="SAPLinks_MailAdress_1010" value="liu.zhenliang@daikin.co.jp" />
    <add key="SAPLinks_MailAdress_1020" value="liu.zhenliang@daikin.co.jp" />
    <add key="SAPLinks_MailAdress_1030" value="liu.zhenliang@daikin.co.jp" />
    <add key="SAPLinks_MailAdress_1040" value="liu.zhenliang@daikin.co.jp" />
    <add key="SAPLinks_MailAdress_1050" value="liu.zhenliang@daikin.co.jp" />
    <add key="SAPLinks_MailAdress_3000" value="liu.zhenliang@daikin.co.jp" />
    <add key="SAPLinks_MailAdress_4000" value="liu.zhenliang@daikin.co.jp" />
    <add key="SAPLinks_MailAdress_4020" value="liu.zhenliang@daikin.co.jp" />
    <add key="SAPLinks_MailAdress_dcsh" value="liu.zhenliang@daikin.co.jp" />
    <add key="SAPLinks_Title" value="SAP联携错误" />
    <add key="SAPLinks_Message" value="SAP联携错误，请查看【SAP出错再处理】" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>